@charset "utf-8";
/* CSS Document */
        .footer{
			padding:0!important;
	       text-align:left!important;
			color:#fff!important;
        }
		.footer-sec-wrap{
			width:100%;
			overflow:hidden;
			display:block;
			background:#333;
			color:#fff;
		}
		.promo-section-wrap{
			width: 28%;
            float: left;
            display: inline-block;
            margin: 40px 0 40px 46px;
		}
        .article-list h3{
			margin-bottom:14px;
			color:#fff;
		}
		.article-list a{
			display:block;
			color:#fff;
			line-height:26px;
			text-decoration: none;
			
		}
		.product-links div{
			display: block;
			float:left;
			width:15%;
			margin:40px 0;
		}
        .product-links h4{
			font-size:22px;
			margin-bottom:14px;
		}
		.product-links ul{
			list-style:none;
			padding-left:0;
		}
		.product-links ul li a{
			color:#fff;
			line-height:26px;
			text-decoration: none;
		}
		.footer-sec-wrap .promo-section-wrap .article-list>a:before {
            content: 'â— ';
            color: #e5e5e5;
         }
         .footer-sec-wrap .promo-section-wrap .article-home>a:before {
            content: none;
         }
		.common-footer{
			display:block;
		}
		
		
		@media screen and (max-width: 480px) {
			.promo-section-wrap{
				width:90%;
				display:block;
				float:none;
				margin:20px;
			}
			.product-links div{
			     display: block;
			     float:none;
			     width:90%;
			     margin:20px;
		      }
			.product-links h4{
				border-bottom:1px solid #fff;
				padding-bottom:10px;
				position:relative;
			}
			/*.footer-sec-wrap .product-links h4:after {
                  content: "";
                  border: solid #fff;
                  border-width: 0 1px 1px 0;
                  display: inline-block;
                  padding: 3.5px;
                  position: absolute;
                  right: 30px;
                  top: 5px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  transition: all .3s ease;
            }*/
         }
